# Project exclude paths
/PhotoMemoriesDomain/target/
/PhotoMemoriesAws/target/
/PhotoMemoriesAws/src/main/java/com/photomemories/aws/config/AwsConfig.java/
/PhotoMemoriesLogic/target/
/PhotoMemoriesRepository/target/
/PhotoMemoriesRepository/src/main/resources/application-db.properties/
/PhotoMemoriesTranslator/target/
/PhotoMemoriesWebSpringBoot/target/