# Project exclude paths
/PhotoMemoriesDomain/target/
/PhotoMemoriesAws/target/
/PhotoMemoriesAws/src/main/resources/application-aws.properties/
/PhotoMemoriesLogic/target/
/PhotoMemoriesRepository/target/
/PhotoMemoriesRepository/src/main/resources/application-db.properties/
/PhotoMemoriesTranslator/target/
/PhotoMemoriesWebSpringBoot/target/