body{
    background: url("./background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imageDisplay {
    max-width: 150px;
    max-height: 150px;
    position: relative;
}